.checkbox {
  aspect-ratio: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  user-select: none;

  &__marker {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
